config: |
  {
      "apps": {
          "http": {
              "servers": {
                  "srv0": {
                      "listen": [
                          ":80"
                      ],
                      "routes": [
                          {
                              "handle": [
                                  {
                                      "handler": "vars",
                                      "root": "/usr/share/caddy"
                                  },
                                  {
                                      "handler": "file_server",
                                      "hide": [
                                          "/etc/caddy/Caddyfile"
                                      ]
                                  }
                              ]
                          }
                      ]
                  }
              }
          }
      }
  }

adapter: ""
