{{ template "chart.baseHead" . }}

## Limitations

The chart currently only works with a `Caddyfile` that exposes content over port 80.

HTTPS service support, metrics and a lot of other features are coming in later versions.

{{ template "chart.valuesSection" . }}
