{{ template "chart.base" . }}

## Configuration

Browserless can be configured via environment variables:

```yaml
env:
    PREBOOT_CHROME: "true"
```

Check out the [official documentation](https://docs.browserless.io/docs/docker.html) for the available options.
